# (1) Easy SQL: Cube Root and Natural Log
(7 kyu)

Given the following table 'decimals':

** decimals table schema **

 <br>id
 <br>number1
 <br>number2
 <br> <br>
Return a table with two columns (cuberoot, logarithm) </br>
where the values in cuberoot are the cube root of those  </br>
provided in number1 and the values in logarithm are changed  </br>
to the natural logarithm of those in number2.  </br>

In [2]:
sql = """
SELECT CBRT(d.number1) AS cuberoot, 
       LN(d.number2) AS logarithm
FROM decimals AS d
"""

df = pd.read_sql_query(sql, engine)

# (2) SQL easy regex extraction
(7 kyu)

Input
You'll have a table like the following:

name	greeting<br>
Austin Gaylord	Hola que tal #4702665<br>
Kacie Zulauf	Bienvenido 45454545 tal #470815 BD. WA470815<br>
Output<br>
In this practice you'll need to extract from the greeting column the number preceeded by the # symbol and place it in a new column named user_id.

name	greeting	user_id
Austin Gaylord	Hola que tal #4702665	4702665
Kacie Zulauf	Bienvenido 45454545 tal #470815 BD. WA470815	470815
NOTE: To keep it simple assume that the iser_id will be havong varchar type

In [ ]:
sql = """
SELECT 
    g.name,
    g.greeting,
    (REGEXP_MATCHES(g.greeting, '#(\d+)\s*'))[1] AS user_id
FROM greetings AS g
"""
df = pd.read_sql_query(sql, engine)

# (3) SQL Basics: Repeat and Reverse
(7 kyu)

Using our monsters table with the following schema:<br>

monsters table schema <br>

id<br>
name<br>
legs<br>
arms<br>
characteristics<br>
return the following table:<br>

** output schema**<br>

name<br>
characteristics<br>
<br>
Where the name is the original string repeated three times (do not add any spaces), and the characteristics are the original strings in reverse (e.g. 'abc, def, ghi' becomes 'ihg ,fed ,cba').

In [ ]:
sql = """
SELECT 
    REPEAT(name,3) as name,
    REVERSE(characteristics) as characteristics
FROM
    MONSTERS
 """

# (4) Easy SQL: Bit Length
(7 kyu)

Given a demographics table in the following format:<br>

** demographics table schema **<br>

id<br>
name<br>
birthday<br>
race<br>
you need to return the same table where all text fields (name & race) are changed to the bit length of the string.

In [ ]:
sql = """
SELECT
    id,
    BIT_LENGTH(name) as name,
    birthday,
    BIT_LENGTH(race) as race
FROM demographics
"""

# (5) GROCERY STORE: Real Price!
(7 Kyu)


You are the owner of the Grocery Store. All your products are in the database, that you have created after CodeWars SQL excercises!:)<br>

Customer often need to now how much really they pay for the products. Manufactureres make different sizes of same product so it is hard to compare prices, sometime they make package looks big, but the weight of the product is small.<br>

Make SELECT query which will tell what is REAL(price per kg) price for the product<br>

Weight in db is in grams! Round price_per_kg to 2 decimal digits<br>

Order results by price_per_kg ascending then by name ascending<br>

products table schema<br>
id<br>
name<br>
price<br>
stock<br>
weight<br>
producer<br>
country<br><br>
results table schema<br>
name<br>
weight<br>
price<br>
price_per_kg<br>

In [4]:
"""
SELECT name, weight, price, 
ROUND((price * 1000 / weight )::numeric, 2)::float AS price_per_kg
FROM products
ORDER BY price_per_kg, name
"""

# (6) SQL with Harry Potter: Sorting Hat Comparators
(7 kyu)

There is truly no magic in the world; the Hogwarts Sorting Hat is SQL-based, its decision-making powers are common operators and prospectIve students are merely data - names, and two columns of qualities.<br>

students<br>

id<br>
name<br>
quality1<br>
quality2<br>
Slytherin are being quite strict this year and will only take students who are evil AND cunning.<br>
Gryffindor will take students who are brave but only if their second quality is NOT evil.<br>
Ravenclaw accepts students who are studious OR intelligent.<br>
Hufflepuff will simply take those who have the quality hufflepuff.<br>

(don't worry, for simplicity's sake 'brave' and 'studious' will only appear in quality1, and 'cunning' and 'intelligent' will only appear in quality2.)<br>

Return the id, name, quality1 and quality2 of all the students who'll be accepted, ordered by ascending id.<br>

In [ ]:
"""
SELECT * 
FROM STUDENTS
WHERE (quality1='evil' AND quality2='cunning')
OR (quality1='brave' AND quality2!='evil')
OR (quality1='studious' OR quality2='intelligent')
OR (quality1='hufflepuff' OR quality2='hufflepuff')
ORDER BY id
"""

# (7) SQL: Disorder
(7 kyu)

You are given a table numbers with just one column, number. It holds some numbers that are already ordered.<br>

You need to write a query that makes them un-ordered, as in, every possible ordering should appear equally often.

In [ ]:
"""
SELECT * as cake
FROM numbers
ORDER BY random();
"""

# (8) SQL with LOTR: Elven Wildcards
(7 kyu)

Choose those with tegil appearing anywhere in their first name, as they are likely to be good calligraphers, OR those with astar anywhere in their last name, who will be faithful to the role.

Elves table:<br>

firstname<br>
lastname<br>
all names are in lowercase<br>

To aid the scribes, return the firstname and lastname column concatenated, separated by a space, into a single shortlist column, and capitalise the first letter of each name.

In [ ]:
"""
SELECT INITCAP(Concat(firstname, ' ' , lastname)) AS shortlist
FROM Elves
Where firstname LIKE '%tegil%'
    OR lastname LIKE '%astar%'
"""

# (9) SQL with Street Fighter: Total Wins

(7 kyu)<br>
It's time to assess which of the world's greatest fighters are through to the 6 coveted places in the semi-finals of the Street Fighter World Fighting Championship. Every fight of the year has been recorded and each fighter's wins and losses need to be added up.<br>

Each row of the table fighters records, alongside the fighter's name, whether they won (1) or lost (0), as well as the type of move that ended the bout.<br>

id<br>
name<br>
won<br>
lost<br>
move_id<br>
winning_moves<br>

id<br>
move<br>
However, due to new health and safety regulations, all ki blasts have been outlawed as a potential fire hazard. Any bout that ended with Hadoken, Shouoken or Kikoken should not be counted in the total wins and losses.<br>

So, your job:<br>

Return name, won, and lost columns displaying the name, total number of wins and total number of losses. Group by the fighter's name.<br>
Do not count any wins or losses where the winning move was Hadoken, Shouoken or Kikoken.<br>
Order from most-wins to least<br>
Return the top 6. Don't worry about ties.<br>

In [ ]:
"""
SELECT
  NAME,
  SUM(won) AS won,
  SUM(lost) AS lost
FROM fighters AS f
JOIN winning_moves wm ON f.move_id = wm.id
WHERE move NOT IN ('Hadoken', 'Shouoken', 'Kikoken')
GROUP BY name
ORDER BY won DESC
limit 6
"""

# (10) SQL with Sailor Moon: Thinking about JOINs.
(7 kyu)<br>

Practise some SQL fundamentals by making a simple database on a topic you feel familiar with. Or use mine, populated with a wealth of Sailor Moon trivia.<br>

sailorsenshi schema<br>

id<br>
senshi_name<br>
real_name_jpn<br>
school_id<br>
cat_id<br>
cats schema<br>

id<br>
name<br>
schools schema<br>

id<br>
school<br>
Return a results table - sailor_senshi, real_name, cat and school - of all characters, containing each character's high school, their civilian name and the cat who introduced them to their magical crime-fighting destiny.<br>

Keep in mind some senshi were not initiated by a cat guardian and one is not in high school. The field can be left blank if this is the case.<br>

In [2]:
"""
SELECT
  senshi_name AS sailor_senshi,
  real_name_jpn AS real_name,
  cats.name AS cat,
  school AS school
FROM sailorsenshi
LEFT JOIN cats ON cat_id = cats.id
LEFT JOIN schools ON school_id = schools.id
"""